{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
	{% block title %}
		Change Password
	{% endblock %}
	
	{% block content %}
   		<h1  style="margin: 0 auto; text-align: center; background-color: #3E50B4; color: white; padding: 3%; box-shadow: 2px 2px 10px #888888;">
			KremePi Dash Outdoor Security System
		</h1>
		<div style="margin: 0 auto; text-align: center; width: 50%; background-color: #FFFFF0; color: black; padding: 3%; padding-top: 1%; box-shadow: 2px 2px 10px #888888; margin-top: 3%;">
			<h3>Change Password: </h3>
			<p>Please Enter a Password Combination (Either 1 or 2)</p>
			<form id="routeform" onSubmit="route();">
				<input type="number" name="password" id="password"/>
				<input type="button" id="submit" value="Submit"/>
			</form>
			<h5>
			<a href="/">Go Back</a>
			</h5>
		</div>
	{% endblock %}
	{% block scripts %}
	<script>
		var submit = document.getElementById('submit');
		submit.addEventListener('click', function() {
			console.log("clicked")
			var password = document.getElementById('password').value;
			var url = window.location.href.concat(password);
			window.location = url;
			console.log(url);
		})
	</script>
	{% endblock %}
</html>
