{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
	{% block title %}
		Password Changed
	{% endblock %}
	{% block content %}
   		<h1  style="margin: 0 auto; text-align: center; background-color: #3E50B4; color: white; padding: 3%; box-shadow: 2px 2px 10px #888888;">
			KremePi Dash Outdoor Security System
		</h1>
		<div style="margin: 0 auto; text-align: center; width: 50%; background-color: #FFFFF0; color: black; padding: 3%; padding-top: 1%; box-shadow: 2px 2px 10px #888888; margin-top: 3%;">
		<h2>Face Registered</h2>
		<h5>
		<a href="/">Go Back</a>
		</h5>
		</div>
	{% endblock %}
</html>
